[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytest = "*"
selenium = "*"
python-dotenv = "*"
testrail-api = "*"
webdriver-manager = "*"
qaseio = "*"
qase-pytest = "*"
urllib3 = "<2.1.0,>=1.25.3"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.12"
